*{
    font-family: arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20%;
    font-size: 15px;
}

thead {
    background-color: #dddddd;
}
.activeTr{
	background: #0d6b82;
	color: #fff;
}
.activeTr input{
	color: #fff;
}
input{
	font-size: 15px;
	border:0;
	border-bottom: 1px solid #828282;
	background: transparent;
}
input:focus{
	outline: none;
	box-shadow: none;
}
.pull-right{
	float: right;
	cursor: pointer;
}
h2{
	display: inline-block;
	margin: 0 0 15px;
}
.addempWrapper{
	margin: 50px;
	border: 1px solid black;
	padding: 30px 20px;
	text-align: center;
}
.addempWrapper input{
	margin-right: 20px;
	text-align: left;
}

